@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap";

html {
  height: 100%;
  scroll-behavior: smooth;
}

main {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h2 {
  letter-spacing: 2px;
  font-size: 2em;
}

h3 {
  letter-spacing: 2px;
}

main::-webkit-scrollbar {
	width: 10px;
}

main::-webkit-scrollbar-thumb
{
  background-color: #888;
  background-clip: padding-box;
}

main::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}

main::-webkit-scrollbar-track {
  background: transparent;
}

section {
  padding: 7vw; 
  min-height: 100vh;
}


body {
  display: flex;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgb(40, 40, 40);
}

.portfolio-btn button {
  display: inline-block;
  border: none;
  margin: 0 0 5vh 0;
  padding: 0.6em 0.5em;
  text-decoration: none;
  background: none;
  color: white;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 1.6em;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;  
}

button:focus {
  outline: 0;
}

.splash-pg {
  width: 100%;
  min-width: 750px;
  height: 100%;
  position: relative;
}

.splash-pg img {
  width: 100%;
  height: auto;
}

.splash-overlay {
  font-weight: 300;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  min-width: 240px;
  transition: all 1s ease-in-out;
  color: white;
}

.splash-content {
  font-weight: 300;
  width: 100%;
  height: 100%;
  min-width: 240px;
  transition: all 0.3s ease-in-out;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.splash-overlay h1 {
  width: 100%;
  margin: 8vh 0 0 0;
  font-size: 3.6em;
  text-align: center;
  font-weight: 400;
}

.portfolio-btn {
  width: 100%;
  transition: all 0.3s ease-in-out;
  margin-top: auto;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-btn img {
  height: 25px;
  width: auto;
}

.splash-overlay h2 {
  font-weight: 400;
  font-size: 1.2em;
  width: 100%;
  padding: 0.6em;
}

main {
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: white;
  transition: all 1s ease-in-out;
}

.main-content {
  box-sizing: border-box;
  margin-top: 3px;
  position: relative;
  width: 100%;
  z-index: 10;
  background: white;
}

nav {
  z-index: 50;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 2.7em 8em;
  position: fixed;
  justify-content: space-between;
  color: rgb(70, 70, 70);
}

nav a {
  margin: auto;
  font-size: 1.0em;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: opacity 0.25s ease-in-out;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(40, 40, 40);
}

nav a::after {
  margin-top: 5px;
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: rgb(40, 40, 40);
  transition: all 0.35s ease-in-out ;
}

nav a:visited {
  color: rgb(40, 40, 40);
}

.nav-scrolled a:visited {
  color: white;
}

.nav-scrolled a {
  color: white;
}

nav a:hover {
  opacity: 0.5;
}

nav a:hover::after {
  width: 98%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 0 auto;
}

.logo {
  height: 1.4em;
  width: auto;
}

.logo img {
  width: 100%;
}

nav li {
  align-items: center;
  margin: 0 1.5em 0 0;
  display: inline-block;
}

nav li:nth-last-child(1) {
  margin-right: 0;
}

.nav-scrolled {
  background-color: rgb(40, 40, 40);;
  padding: 0.95em 7.5em;
  color: white;
}

section {
  width: 100%;
  background-color: white;
}

section:nth-child(even) {
  background-color: rgb(220, 220, 225);
  /* background-color: #C1BDB3;
  background-color: #C1BDA0; */
  /* color: white */
}

.portfolio-btn:hover {
  cursor: pointer;
  opacity: 0.4;
}

.portfolio-btn::before {
  margin: 0 0 5vh 0;
  padding-bottom: 3px;
  transition: all 0.3s ease;
  font-size: 1.4em;
  content: 'â†';
}

.portfolio-btn:hover::before {
  transform: translateX(-8px)
}

.no-opacity {
  opacity: 0;
}

.overflow-auto {
  overflow: auto;
}

#about-me {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 6em 0 5em 0; 
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.grid-section {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 5em 0 5em 0; 
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.am-picture-container, .am-content-container, nav {
  transition: all 0.5s ease-in-out;
}

.am-picture-container {
  overflow: hidden;
  grid-row: 2/12;
  grid-column: 5/11;
}

.am-content-container {
  grid-row: 3/11;
  grid-column: 13/27;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 2em;
}

p {
  color: rgb(80, 80, 80);
  font-size: 1.1em;
  line-height: 1.6em;
}

.grid-section p {
  color: rgb(80, 80, 80);
  font-size: 1.1em;
  line-height: 1.6em;
} 

.am-picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.am-picture-container .background {
  grid-row: 2/19;
  grid-column: 2/19;
  background-color: rgb(60, 60, 60);
}

.content-container {
  grid-row: 3/11;
  grid-column: 5/15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.icon-container {
  grid-row: 2/12;
  grid-column: 18/27;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#technologies h3 {
  width: 100%;
  margin: 0;
  font-size: 2em;
  color: #E1A87A;
}

.title {
  line-height: 1.5em;
  letter-spacing: 3px;
  width: 100%;
  margin: 3vh 0 8vh 0;
  text-align: center;
  font-size: 3em;
  transition: all 0.5s ease-in;
}

.technology-container {
  flex-wrap: wrap;
  padding: 4vh 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.technology-item {
  position: relative;
  padding: 0 2em 2em 0 ;
  color: white;
  min-width: 100px;
  min-height: 100px;
  width: 7.5vw;
  height: 7.5vw;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in-out;
}

.opacity-hover:hover {
  opacity: 0.5;
  cursor: pointer;
}

.technology-item img {
  height: 100%;
  display: block;;
  margin: auto;
}

.technology-item h4 {
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

/* .width-50-container {
  align-items: flex-start;
  width: 44%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.technology-item {
  padding: 1.4em;
  color: rgb(60, 60, 60);
  width: 30%;
  margin-bottom: 2.5vw;
  height: 16em;
  border-radius: 8px;
  background-color: white;
}

.technology-item .icon {
  width: 30%;
  margin: auto;
  padding: 0;
}

.technology-item img {
  width: 100%;
} */

.project-wrapper {
  display: flex;
  justify-content: center;
}

.projects-title {
  width: 100%;
  font-size: 2.2em;
  text-align: left;
  margin: 0.3em 0;
}

.projects-container {
  margin: 8vh auto;
  display: grid;
  min-width: 950px;
  grid-gap: .07vw;
  grid-template-columns: repeat(4, 19vw);
  grid-auto-rows: 19vw;
}

.projects-container:hover > *:first-child {
  cursor: default;
}

.project-item:first-child {
  padding:  0 2vw 0 0;
}

.project-item:first-child p {
  font-size: 1.1em;
  line-height: 1.4em;
}

.projects-container .one-one {
  grid-row: span 1;
  grid-column: span 1;
}

.projects-container .one-two {
  grid-row: span 2;
  grid-column: span 1;
}

.projects-container .two-one {
  grid-row: span 1;
  grid-column: span 2;
}

.projects-container .two-two {
  grid-row: span 2;
  grid-column: span 2;
}

.project-item {
  border: solid white 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease-in;
  position: relative;
}

.project-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.project-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  color: white;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  background-color: rgba(30,30,30,0.55);
  opacity: 0;
}

.project-item .content {
  opacity: 1;
  transition: opacity 0.25s ease-in 0.45s;
}

.project-item h3 {
  font-size: 1.75em;
  letter-spacing: 2px;
}

.project-item:hover .overlay-transition {
  opacity: 1;
}

.project-item:hover {
  cursor: pointer;
}


/* .project-item:nth-child(odd) {
  background-color:  rgba(225,168,122);
} */

/* .project-item:nth-child(2n) {
  background-color: rgba(98,131,149);
}

.project-item:nth-child(3n) {
  background-color: rgba(225,168,122);
}

.project-item:nth-child(4n) {
  background-color: rgba(207,152,147);
}

.project-item:nth-child(5n) {
  background-color: rgba(146,170,131);
} */

#experience {

}

.experience-cards {
  padding: 4vh 9vw;
}

.experience-card {
  align-items: center;
  margin: 10vh 0;
  border-radius: 5px;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  min-height: 17em;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.experience-card:first-child {
margin-top: 5vh;
}

.experience-card:last-child {
  margin-bottom: 5vh;
  }

.experience-card .img-container {
  padding: 3vw;
  width: 20%;
}

.experience-card .img-container img {
  width: 100%
}

.experience-card h3 {
  font-size: 1.5em;
}

.experience-card .content {
  width: 75%;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 4vh 4vw 4vh 4vh;
  flex-wrap: wrap;
}

.experience-card:hover {
  transform: scale(1.015);
}

.picture-overlay {
  position: absolute;
  top: 6%;
  left: 6%;
  width: 100%;
  height: 100%;
  transition: all 0.35s ease-in-out;
}

.picture-overlay img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.technology-info-card {
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: whitesmoke;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.technology-info-card .content {
  position: relative;
  width: 70%;
  padding: 10vh;
  align-self: center;
  transition: all 0.3s ease-in-out;
}

.technology-info-card button {
  position: absolute;
  bottom: 5vh;
  left: calc(30vw + 10vh);
  font-size: 2.5em;
  padding: 0;
  border: none;
  background: none;
  transform: rotate(-90deg);
  color: rgb(70, 70, 70);
  transition: opacity 0.2s ease-in-out;
}

.tech-btn-hover:hover {
  opacity: 0.6;
  cursor: pointer;
}

.tech-img {
  width: 30%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tech-img .small {
  width: 60%;
  height: auto;
}

footer {
  background-color: rgb(40, 40, 40);
  width: 100%;
  height: 13%;
  padding: 2vh 16vw;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .full-logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

footer a {
  text-decoration: none;
  color: white;
  transition: opacity 0.2s ease-in-out;
}

footer a:visited {
  color: white;
}

.full-logo:hover > * {
  opacity: 0.4;
}

footer h2 {
  margin-right: 0.8em;
  font-size: 2.3vh;
  letter-spacing: 1px;
  font-weight: 400;
  transition: opacity 0.2s ease-in-out;
  text-align: right;
}

.full-logo a:hover {
  opacity: 1;
}

.full-logo .img-container {
  padding-right: 1.2em;
  height: 50%;
  width: auto;
  transition: opacity 0.2s ease-in-out;
}

.full-logo .img-container:hover {
  opacity: 1;
}

.full-logo img {
  height: 100%;
  width: auto;
}

.set-left {
  left: 0;
}

.set-right {
  right: 0;
}

.set-top {
  top: 0;
}

.slide-top {
  transform: translate3d(0, -100%, 0);
}

.right-20 {
  transform: translate3d(20%, 0 ,0);
}

.left-20 {
  transform: translate3d(-20%, 0, 0);
}

.top-20 {
  transform: translate3d(0, 10%, 0)
}