@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap";

html {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 0.85em;
}

@media (min-width: 1500px) {
  html {
    font-size: .9em;
  }
}

img {
  display: block;
}

main {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h2 {
  letter-spacing: 2px;
  font-size: 2em;
}

h3 {
  letter-spacing: 1px;
}

main::-webkit-scrollbar {
	width: 10px;
}

main::-webkit-scrollbar-thumb
{
  background-color: #888;
  background-clip: padding-box;
}

main::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}

main::-webkit-scrollbar-track {
  background: transparent;
}

.project-item::-webkit-scrollbar {
	width: 10px;
}

.project-item::-webkit-scrollbar-thumb
{
  background-color: #888;
  background-clip: padding-box;
}

.project-item::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}

.project-item::-webkit-scrollbar-track {
  background: transparent;
}

section {
  padding: 7vw; 
}


body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgb(40, 40, 40);
}

.portfolio-btn button {
  border: 2px solid white;
  border-radius: 30px;
  display: inline-block;
  margin: 0 0 5vh 0;
  padding: 0.3em 0.6em;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  color: white;
  font-family: sans-serif;
  letter-spacing: 2px;
  font-size: 1.5em;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;  
}

button:focus {
  outline: 0;
}

.splash-pg {
  width: 100%;
  min-width: 750px;
  height: 100%;
  position: relative;
}

.splash-pg img {
  width: 100%;
  height: auto;
}

.splash-overlay {
  font-weight: 300;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  min-width: 240px;
  transition: all 1s ease-in-out;
  color: white;
}

.splash-content {
  font-weight: 300;
  width: 100%;
  height: 100%;
  min-width: 240px;
  transition: all 0.3s ease-in-out;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.splash-overlay h1 {
  width: 100%;
  margin: 8vh 0 0 0;
  font-size: 3.6em;
  text-align: center;
  font-weight: 400;
}

.portfolio-btn {
  width: 100%;
  transition: all 0.3s ease-in-out;
  margin: auto auto 0 auto;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-btn img {
  height: 25px;
  width: auto;
}

.splash-overlay h2 {
  font-weight: 400;
  font-size: 1.2em;
  width: 100%;
  padding: 0.6em;
}

main {
  width: 100%;
  height: 100%;
  background: white;
  transition: all 1s ease-in-out;
  overflow: auto;
}

.main-content {
  box-sizing: border-box;
  margin-top: 7px;
  position: relative;
  width: 100%;
  background: white;
  overflow: auto;
}

nav {
  z-index: 50;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 2.7em 8em;
  position: fixed;
  justify-content: space-between;
  color: rgb(70, 70, 70);
}

nav a {
  margin: auto;
  font-size: 1.0em;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: opacity 0.25s ease-in-out;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(40, 40, 40);
}

nav a::after {
  margin-top: 5px;
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: rgb(40, 40, 40);
  transition: all 0.35s ease-in-out ;
}

nav a:visited {
  color: rgb(40, 40, 40);
}

.nav-scrolled a:visited {
  color: white;
}

.nav-scrolled a {
  color: white;
}

nav a:hover {
  opacity: 0.5;
}

nav a:hover::after {
  width: 98%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 0 auto;
}

.logo {
  height: 1.4em;
  width: auto;
}

.logo img {
  width: 100%;
}

nav li {
  align-items: center;
  margin: 0 1.5em 0 0;
  display: inline-block;
}

nav li:nth-last-child(1) {
  margin-right: 0;
}

.nav-scrolled {
  background-color: rgb(40, 40, 40);;
  padding: 0.95em 7.5em;
  color: white;
}

section {
  width: 100%;
  background-color: white;
}

section:nth-child(even) {
  background-color: rgb(220, 220, 225);

}

.portfolio-btn:hover {
  cursor: pointer;
  opacity: 0.35;
}

/* .portfolio-btn::before {
  margin: 0 0 5vh 0;
  padding-bottom: 3px;
  transition: all 0.3s ease;
  font-size: 1.4em;
  content: '←';
}

.portfolio-btn:hover::before {
  transform: translateX(-8px)
} */

.no-opacity {
  opacity: 0;
}

.overflow-auto {
  overflow: auto;
}

#about-me {
  box-sizing: border-box;
  height: 100%;
  padding: 4em 0 5em 0; 
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(12, 1fr);
  min-height: 100vh;
}

.grid-section {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 5em 0 5em 0; 
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.am-picture-container, .am-content-container, nav {
  transition: all 0.5s ease-in-out;
}

.am-picture-container {
  overflow: hidden;
  grid-row: 2/12;
  grid-column: 5/11;
}

.am-content-container {
  grid-row: 3/11;
  grid-column: 13/29;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 2em;
}

p {
  color: rgb(80, 80, 80);
  font-size: 1.2em;
  line-height: 1.6em;
}

li {
  color: rgb(80, 80, 80);
  font-size: 1.1em;
  line-height: 1.3em;
  margin-bottom: 0.4em;
}

.am-picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.am-picture-container .background {
  grid-row: 2/19;
  grid-column: 2/19;
  background-color: rgb(60, 60, 60);
}

.content-container {
  grid-row: 3/11;
  grid-column: 5/15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.icon-container {
  grid-row: 2/12;
  grid-column: 18/27;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#technologies h3 {
  width: 100%;
  margin: 0;
  font-size: 2em;
  color: #E1A87A;
}

.title {
  line-height: 1.5em;
  letter-spacing: 3px;
  width: 100%;
  margin: 3vh 5vw 2vh 5vw;
  text-align: left;
  font-size: 2.6em;
  transition: all 0.5s ease-in;
}

.technology-container {
  flex-wrap: wrap;
  padding: 4vh 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.technology-item {
  position: relative;
  padding: 0 2em 2em 0 ;
  color: white;
  min-width: 100px;
  min-height: 100px;
  width: 7.5vw;
  height: 7.5vw;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in-out;
}

.opacity-hover:hover {
  opacity: 0.5;
  cursor: pointer;
}

.technology-item img {
  height: 100%;
  display: block;;
  margin: auto;
}

.technology-item h4 {
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

/* .width-50-container {
  align-items: flex-start;
  width: 44%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.technology-item {
  padding: 1.4em;
  color: rgb(60, 60, 60);
  width: 30%;
  margin-bottom: 2.5vw;
  height: 16em;
  border-radius: 8px;
  background-color: white;
}

.technology-item .icon {
  width: 30%;
  margin: auto;
  padding: 0;
}

.technology-item img {
  width: 100%;
} */

.project-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4vh 5vw;
}

.project-card-container .card:first-child {
  margin-top: 2em;
}

.project-card-container .card {
  overflow: hidden;
  margin-top: 3em;
  display: flex;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  height: 30em;
  transition: all 0.5s ease-in-out;;
}

.project-card-container .card:hover img {
  transform: scale(1.05)
}

.project-card-container .card header {
  color: rgb(160, 160, 160);
}

.project-card-container .card header h3 {
  font-weight: 500;
  font-size: .8em;
}

.project-card-container .card .img-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.project-card-container .card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}


.project-card-container .card .project-splash {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  padding: 2em 3.2em 3em 3.2em;
}

.project-card-container .card .project-splash h2 {
  font-size: 1.7em;
}

.project-card-container .card a {
  background-color: rgb(70, 70, 70);
  border-radius: 1.5em;
  border: none;
  color: white;
  padding: .7em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  justify-self: flex-end;
  margin-top: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.project-card-container .card a:hover {
  opacity: 0.6;
}

#project-details-pages {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  transform: translate3d(100%, 0, 0);
  transition: all 0.7s ease-in-out;
}

.project-item {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
  background: white;
  top: 0;
  left: 0;
  transition: all 0.7s ease-in-out;
}

.project-item blockquote {
  font-size: 1.1em;
  color: rgb(80, 80, 80);
  font-style: italic;
}

.project-item .content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-item .gif-container {
  margin: 0 0 4em 0;
  width: 85%;
}

.gif-container .img

.project-item section {
  background: white;
}

.project-item section:nth-child(even) {
  background: white;
}

.project-exit {
  position: fixed;
  top: 0.2em; 
  left: 1em;
  border: none;
  background: transparent;
  text-decoration: none;
  font-size: 2.3em;
  font-weight: 800;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.project-exit:hover {
  transform: translate3d(.2em, 0, 0);
  opacity: 0.5;
}

#experience {
  padding-bottom: 4vw;
}

.project-item {
  font-size: 1em;
}

.project-item ul {
  padding-left: 1em;
}

.project-item {
  display: flex;
  flex-direction: column;
}

.project-item section {
  padding-top: 6em;
  padding-bottom: 6em;
}

.project-item .intro-info {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4em 0;
  grid-column-gap: 4em;
  background-color: white ;
}

.project-item .project-detail {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 34%;
  padding: 0 18vw;
  grid-column-gap: 4em;
  min-height: 0;
  background-color: white ;
}

.project-item section h2 {
  grid-column: span 3;
  margin-bottom: 1em;
}

.project-item section:nth-child(odd) {
  grid-column: span 3;
  background: rgb(52,112,162);
  color: white;
}


.project-item section:nth-child(odd) p {
  color: white;
}

.project-item section:nth-child(odd) .info-card p {
  color: rgb(40, 40, 40);
}

.info-small {
  width: 100%;
  padding: 0 30%;
}

.info-small h2:first-child {
  margin: 0 0 .5em 0;
}

.project-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.project-details h2, .project-details h3 {
  width: 50%;
}

.project-pictures-medium h2:first-child {
  margin: 0 0 1em 0;
}

.info-small .info-card h3 {
  color: rgb(40, 40, 40);
}

.info-small p {
  color: white;
}

.info-small .info-card {
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 1.5em;
  margin: 2.5em 0;
  background: white;
  color: rgb(40, 40, 40);
}

.info-card p {
  color: rgb(40, 40, 40);
}

.info-small .info-card:last-child {
  margin-bottom: 0;
}

.project-pictures-medium {
  width: 100%;
  padding: 0;
}

.project-pictures-medium {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-details p {
  width: 50%;
  margin: 2em 0;
}

.project-details .full-img-container {
  width: 50%;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.project-details .full-img-container::after {
  content: "";
  display: block;
  padding-bottom: 75%;
}

.project-details h2 + p {
  margin-top: .5em;
}

.project-pictures-medium h2 {
  width: 100%;
  text-align: left;
}

.project-pictures-medium .picture-container, .project-pictures-medium .lg-img-contain {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 2em 1.5% 0 1.5%;
  position: relative;
}


.project-pictures-medium .picture-container {
  width: 30%;
}

.project-pictures-medium .lg-img-contain {
  width: 44%;
}

.project-pictures-medium .picture-container:after, .lg-img-contain::after {
  content: "";
  display: block;
  padding-bottom: 75%;
}

.picture-container .overlay , .lg-img-contain .overlay, .full-img-container .overlay {
  top: 0;
  left: 0;
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
}

.picture-container .overlay img, .lg-img-contain .overlay img, .full-img-container .overlay img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-item .content section h3 {
  font-size: 1.3em
}

.project-item .content section h4 {
  margin: .5em 0 2.5em 0;
}

.info-small .info-card h3:first-child{
  margin-top: 0;
}

.project-item section h3 {
  margin: 2em 0 .7em 0;
  font-weight: 500;
}

.project-item section .focus {
  grid-column: span 2;
}

.project-item section .side {
  grid-column: span 1;
}

#experience .title {
  text-align: center;
  margin: 1em 0;
}

.experience-card-container {
  padding: 1.5em 5vw 0 5vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.experience-card {
  border-radius: 5px;
  position: relative;
  /* background-color: white; */
  width: 40%;
  margin: 1em 0 2em 0;
  padding: 1em 0 2em 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
}

.experience-card-container h3 {
  margin: .5em 0;
  font-size: .9em;
  color: rgb(122, 122, 122);
  font-weight: 500;
  text-transform: uppercase;
}

.experience-card-container h2 {
  margin-top: 0;
  font-size: 1.4em;
}

.experience-card .img-container {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}


.experience-card .img-container img {
  width: 100%;
}

.experience-card .overlay {
  width: 100%;
  overflow: hidden;
  height: 0;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.experience-card .overlay .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 7% 7%;
}

.experience-card .overlay .content h3 {
  font-size: 1.1em;
}

.experience-card .overlay .content ul {
  padding: 0.7em 0 0 1.3em ;
}

.experience-card .overlay .content li {
  margin-bottom: .8em;
}

.experience-card:hover .overlay {
  height: 100%;
}

.picture-overlay {
  position: absolute;
  top: 6%;
  left: 6%;
  width: 100%;
  height: 100%;
  transition: all 0.35s ease-in-out;
}

.picture-overlay img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.technology-info-card {
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: whitesmoke;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  align-content: center;
}

.technology-info-card .content {
  position: relative;
  width: 70%;
  padding: 4%;
  align-self: center;
  transition: all 0.3s ease-in-out;
}

.technology-info-card .content h2 {
  font-size: 1.7em;
}

.technology-info-card button {
  position: absolute;
  bottom: 5vh;
  left: calc(30vw + 10vh);
  font-size: 4em;
  font-weight: 300;
  padding: 0;
  border: none;
  background: none;
  color: rgb(70, 70, 70);
  transition: opacity 0.2s ease-in-out;
}

.tech-btn-hover:hover {
  opacity: 0.6;
  cursor: pointer;
}

.tech-img {
  width: 30%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tech-img .small {
  width: 60%;
  height: auto;
}

footer {
  color: rgb(40, 40, 40);
  width: 100%;
  height: 17em;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

footer p {
  text-align: center;
  width: 100%;
}

footer a {
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

footer a:visited {
  color: white;
}

footer .contact-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  padding: 0 1em;
}

footer .contact-container .contact-icon {
  width: 2.8em;
  margin: 0 .7em;
  transition: opacity 0.2s ease-in-out;
}

footer .contact-container .contact-icon a {
  width: 100%;
}

footer .contact-container .contact-icon a img {
  width: 100%;
}

footer .contact-container:hover .contact-icon {
  opacity: .6;
}

footer .contact-container .contact-icon:hover {
  opacity: 1;
}

footer h2 {
  margin-bottom: 0;
  width: 100%;
  font-size: 1.7em;
  letter-spacing: 1px;
  font-weight: 500;
  transition: opacity 0.2s ease-in-out;
  text-align: center;
}

footer h3 {
  margin-top: 3em;
  font-weight: 400;
  font-size: .8em;
  opacity: 0.7;
}

.main-shift-padding {
  padding-right: 10px;
  overflow: hidden;
}

.set-left {
  left: 0;
}

.set-right {
  right: 0;
}

.set-top {
  top: 0;
}

.set-center {
  transform: translate3d(0, 0, 0);
}

.slide-top {
  transform: translate3d(0, -100%, 0);
}

.slide-left {
  transform: translate3d(-100%, 0, 0);
}

.right-20 {
  transform: translate3d(20%, 0 ,0);
}

.left-20 {
  transform: translate3d(-20%, 0, 0);
}

.top-20 {
  transform: translate3d(0, 10%, 0)
}

.display-none {
  display: none;
}